ASPNETCORE_ENVIRONMENT=Development
POSTGRES_USER=gezl
POSTGRES_PASSWORD=gezlpassword
POSTGRES_DB=gezlnomics
POSTGRES_PORT=55432
TRAEFIK_HTTP_PORT=3000
FRONTEND_ORIGIN=http://localhost:3000
VITE_API_BASE_URL=
RATE_LIMIT_AUTH_LOGIN_PERMIT_LIMIT=5
RATE_LIMIT_AUTH_LOGIN_WINDOW_SECONDS=60
RATE_LIMIT_AUTH_SIGNUP_PERMIT_LIMIT=3
RATE_LIMIT_AUTH_SIGNUP_WINDOW_SECONDS=300
API_PORT=8080
